h1.title {
	font-size: 7rem;
	margin-bottom: 20px;
}

h2.ui.header {
	font-size: 3rem;
	margin-top: 20px;
	margin-bottom: 10px;
}

.ui.container {
	font-size: 1.5rem;
}

.has-text-centered {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.is-fullheight {
	height: 100vh;
}

.is-dark {
	background-color: #333333;
	color: #eeeeee;
}
.is-blue {
	background-color: #209cee;
	color: #eeeeee;
}
.is-yellow {
	background-color: #ffdd57;
	color: rgba(0, 0, 0, 0.7);
}
.is-light {
	background-color: whitesmoke;
	color: #363636;
}

.hero.is-fullheight .title {
	font-size: 7rem;
}

.hero.is-fullheight .subtitle {
	font-size: 3rem;
}

.menu .item[data-tab] .count {
	padding-left: 3px;
}

.is-dark .ui.button {
	border: 2px solid white;
	border-radius: 5px;
}
.ui.button.is-dark {
	background-color: #333333;
	color: #eeeeee;
}
.ui.button.is-blue {
	background-color: #209cee;
	color: #eeeeee;
}
.ui.button.is-yellow {
	background-color: #ffdd57;
	color: rgba(0, 0, 0, 0.7);
}
.ui.button.is-light {
	background-color: whitesmoke;
	color: #363636;
}

.ui.label + .ui.image {
	padding-top: 30px;
}

@media only screen and (max-width: 500px) {
    h1.title,
    .hero.is-fullheight .title {
		font-size: 4.5rem;
	}

	.hero.is-fullheight .subtitle {
		font-size: 2rem;
	}
}

@media only screen and (max-height: 375px) {
	h1.title,
    .hero.is-fullheight .title {
		font-size: 3.5rem;
	}

	.hero.is-fullheight .subtitle {
		font-size: 1.5rem;
	}
}

#attendance .tab.segment {
	margin: 0;
	border: none;
}

#attendance .cards {
	margin-top: 10px;
	margin-bottom: 10px;
}

.ui.cards>.card .meta {
	font-size: .9rem;
}

.main.screen.buttons {
	margin-top: 30px;
}

#scrollTopBtn {
	position: fixed;
	display: none;
	bottom: 20px;
	right: 10px;
	animation-duration: 1s;
	border: 2px solid #363636;
	border-radius: 5px;
	width: 46px;
	height: 46px;
	padding: 0;
	text-align: center;
	margin: 0;
}
#scrollTopBtn .icon {
	margin: auto;
}

#foodMenu {
	padding: 50px;
}

#foodMenu .ui.container .ui.list {
	border: 2px solid black;
	border-radius: 5px;
	padding: 20px;
}

#foodMenu .ui.list .item span.quantity {
	padding-left: 3px;
}
#foodMenu.is-light .ui.list .item span.quantity {
	color: grey;
	font-size: 12px;
}

#venueMap {
	display: block;
	width: 100%;
	height: 80vh;
	margin: auto;
}


#directions .ui.image {
	max-width: 50vw;
	height: auto;
	margin: auto;
}

@media only screen and (max-width: 500px) {
	#venueMap {
		width: 80%;
		height: 90vh;
	}
	#address {
		text-align: center;
	}
	
	#directions .ui.image {
		max-width: 80vw;
	}

	#venue .ui.header {
		text-align: center;
	}
}

@media only screen and (max-height: 375px) {
	#venueMap {
		width: 80%;
		height: 150vh;
	}
}

section {
	padding-top: 40px;
	padding-bottom: 40px;
}

section#attendance {
	padding-top: 0;
	padding-bottom: 0;
}